/* Here mainly concentrated on the title styling */
/* start */
body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat-Bold";
  font-weight: 900;
}

.big-heading{
  font-family: Montserrat;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.0rem;
}

p {
    color: #8f8f8f;
}

/* container */

.container-fluid {
    padding: 7% 15%;
}

/* section */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* title section */

.title-image{
  width: 65%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  padding: 0 20px 0;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}



/* navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 500;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  font-weight:400;
}

/* download button */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */


/* end */

/* feature styling */
/* start */
/* feature center */
#features{
  position: relative;

}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

/* styling of font icon of font awesome */
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}


/* tesimonial section */

#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-images{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 100px;
}

.sectional-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

.space{
  padding: 0% 2% 5% 2%;
}

/* .last-color{
  margin: 100px;

} */

/* .edcar_letter{
    font-size:180px;
} */

@media (max-width: 998px) {
  #title .title-image{
    position: static;
    transform: rotate(0);
  }
  .container-fluid{
    text-align: center;
  }

}
